.viewport {
    /* 100vh; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* width: 100vw; */
    background-image: url(./aaa.jpg);
    background-size: cover;
    /* background-size: auto; */
}
.op:hover{
    text-decoration: underline;
    color: brown;
}
#option{
    /* position:absolute; */
    /* top:15vh; */
    /* left: 35vw; */
    /* left: 38%; */
    z-index: 1;
    border-radius: 20px;
    background-color: rgba(207, 225, 225, 0.5);
    backdrop-filter: blur(10px);
    width: fit-content;
    margin: 0px auto;
    /* border */
    /* width: 23vw; */

    /* background-color: rgb(99, 163, 205); */
}
.op{
    /* width: fit-content; */
    margin-top: 10px;
    overflow-x: auto;
    padding: 3px;
    padding: 3px 60px;
    /* margin: 2px; */
    /* border-radius: 5px; */
    /* background-color: rgba(55, 119, 141, 0.9); */
    /* backdrop-filter: blur(8px); */
    /* border-radius: 100px; */
    /* width: 22vw; */
    /* width: 30vw; */
    
}
body{
    
}

.present {
    width: 100vw;
    height: 100vh;
}

.pastandfuture {
    width: 30vw;
    height: 95vh;
    margin-left: auto;
}

#temperature {

}

.cards {
    /* background-color: rgb(159, 159, 144,0.2); */
    backdrop-filter: blur(10px);
    background-color: rgba(153, 170, 185, 0.3);
    transition: all;
    transition-duration: 0.5s;
}

.data {
    backdrop-filter: blur(10px);
}

.btn{
    top: 60px;
}

.searchbox {
    background-color: rgba(207, 225, 225, 0.5);
    backdrop-filter: blur(10px);
}


@media only screen and (max-width: 600px) {
    .viewport {
        /* display: flex; */
        flex-direction: column;
    }
    .present{
        margin: auto;
        width: 100vw;
    }
    .searchbox{
        width: 70vw;
    }
    .op{
        width: 80vw;

    }
    .option{
        width: 80vw;
    }

    /* .pastandfuture{
        margin: auto;
        width: 90vw;
    } */
}