.viewport {

    width: 100vw;
    background-image: url(./aaa.jpg);
    background-size: cover;
    height: fit-content;
    transition: all;
    transition-duration: 30ms;

}

.op:hover {
    text-decoration: underline;
    color: brown;
}

#option {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    top: 110px;
    z-index: 1;
    border-radius: 20px;
    background-color: rgba(207, 225, 225, 0.5);
    backdrop-filter: blur(10px);
    width: fit-content;
    margin: 0px auto;

}

.op {

    margin-top: 10px;
    overflow-x: auto;
    padding: 3px;
    padding: 3px 60px;
}
/* #option{
    overflow: auto;
    height: 50vh;
} */

.box{
    width: 200px;
    height: 100px;
    background-color: aqua;
    margin: 20px;
}
.present {
    width: 100vw;
    height: 100vh;
}

.pastandfuture {
    border: 2px solid;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-margin: 23px;
    margin: 10px auto;
    width: 80vw;
    display: flex;
    /* padding: 20px; */
    /* scroll-behavior: smooth; */
    /* overflow: auto; */
}


.cards {

    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(153, 170, 185, 0.3);
    width: 400px;
    height: 200px;
    padding: 30px;
}

.data {
    backdrop-filter: blur(10px);
}

.btn {
    top: 60px;
}

.searchbox {
    background-color: rgba(207, 225, 225, 0.5);
    backdrop-filter: blur(10px);
    overflow: auto;
}


@media only screen and (max-width: 600px) {
    .viewport {
        flex-direction: column;
    }

    .present {
        margin: auto;
        width: 90vw;
    }

    .searchbox2 {
        margin: auto;
        position: relative;
        width: 80vw;
    }

    .option {
        max-width: 100%;
        width: fit-content;
    }

}